@model LogisticsApp.Models.GeneralContentViewModel

    @{
        Layout = "~/Views/Manage/Index.cshtml";
        ViewBag.TitleSuffix = "Inqueries";
        ViewBag.MessagesCounter = Model.MessageCounter;
        ViewBag.InqueriesCounter = Model.InqueryCounter;
        ViewBag.Balance = Model.Balance;
        ViewBag.CustomerNumber = Model.CustomerID;
        IList<LogisticsApp.Models.Inquery> inqueries = ViewBag.inqueries;
        IList<LogisticsApp.Models.General.MessagType> messagTypes = ViewBag.messageTypes;

        int counter = 1;
    }

<div id="inqueryInformations" class="information">
    <div class="row">
        <div class="jumbotronDiv">
            <h1>Sorgular</h1>
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#InqueryCreateModal" style="float:left; margin-bottom:20px">
                Yeni sorgu yarat
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1">#</div>
        <div class="col-md-2">Tarix</div>
        <div class="col-md-3">Basliq</div>
        <div class="col-md-2"></div>
        <div class="col-md-4"></div>
    </div>
    <hr />

    @foreach (var item in inqueries)
    {

        <div class="row"> 

            <div class="col-md-1">@(counter++)</div>

            <div class="col-md-2">
                @item.CreatedDate.ToString("dd.MM.yyyy")
            </div>
            <div class="col-md-3">
                @item.messageType.Name
            </div>
            <div class="col-md-2">
                @if (!item.isAnswered)
                {
                    <span class="unreadMessage">not answered</span>
                }
            </div>
            <div class="col-md-4">
                <button type="button" class="inqueryDetailsBtn btn btn-primary btn-sm" data-toggle="modal" data-target="#InqueryDetailsModal" id="@item.Id">oxu</button>
            </div>
        </div>
        <br />
    }

    <div class="modal fade" id="InqueryDetailsModal" tabindex="-1" role="dialog" aria-labelledby="InqueryDetailsModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="InqueryDetailsModalLabel">Sorgu</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Bagla</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="InqueryCreateModal" tabindex="-1" role="dialog" aria-labelledby="InqueryCreateModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="InqueryCreateModalLabel">Yeni sorgu</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                  
                </div>

            </div>
        </div>
    </div>
 
</div>