@model LogisticsApp.Models.OrderViewModel

@{
    Layout = "~/Views/Manage/Index.cshtml";
    ViewBag.TitleSuffix = "Order creation";
    ViewBag.MessagesCounter = Model.MessageCounter;
    ViewBag.InqueriesCounter = Model.InqueryCounter;
    ViewBag.Balance = Model.Balance;
    ViewBag.CustomerNumber = Model.CustomerID;
    IList<LogisticsApp.Models.General.Country> countries = TempData["Countries"] as IList<LogisticsApp.Models.General.Country>;



    int counter = 1;
    string classname = "";
}

<div id="createOrder" style="font-size:14px">

    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        @foreach (var item in countries)
        {
            classname = (counter == 1) ? "active" : "";
            counter++;
        <li class="nav-item">
            <a class="nav-link @classname" id="pills-@item.Name-tab" data-toggle="pill" href="#pills-@item.Name" role="tab" aria-controls="pills-@item.Name"
               aria-selected="true">@item.Name</a>
        </li>
        }
        @{
            counter = 1;
         }
      
    </ul>
    <div class="tab-content" id="pills-tabContent">
        @foreach (var item in countries)
        {
            
            classname = (counter == 1) ? "active show" : "";
            counter++;
            <div class="tab-pane fade @classname" id="pills-@item.Name" role="tabpanel" aria-labelledby="pills-@item.Name-tab">
                @{
                    ViewBag.CountryId = item.Id;
                    Html.RenderPartial("OrderCreateLinePartial", Model);
                }
            </div>

    }
        

    </div>

</div>


