@model LogisticsApp.Models.Page.About

@{
    ViewBag.Title = "About";
}
<section id="about" class="container container-fluid ">
    <div class="jumbotron">
        <h1 class="display-4">Haqqimizda</h1>
        <p>
            @Model.Text
        </p>
    </div>


</section>