@using Microsoft.AspNet.Identity
<ul class="list-group list-group-horizontal ml-auto ">
    @if (Request.IsAuthenticated)
    {

        <li class="list-group-item bgColor-txtColor">
            @Html.ActionLink(User.Identity.GetUserName(), "Countries", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li  class="list-group-item bgColor-txtColor">@Html.ActionLink("Log off", "LogOff", "Account")</li>


    }
    else
    {

        <li  class="list-group-item bgColor-txtColor">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li  class="list-group-item bgColor-txtColor">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>

    }
</ul>
