@model IEnumerable<LogisticsApp.Models.Bundle>

@if (Model != null)
{

    foreach (var item in Model)
    {
        <li><a href="/Bundle/AdminDetails/@item.Id">@item.Id | @item.Customer.Name @item.Customer.Surname</a></li>
    }
}
